<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    @iget/pusher-wrapper
  </h1>
  <h2>An Angular wrapper for <a href="https://github.com/pusher/pusher-js">Pusher JS library</a></h2>
</div>
<h3>Set your API key</h3>
<input type="text" [(ngModel)]="apiKey">
<button (click)="apiKeyService.set(apiKey)">Set API Key</button>

<h3>Enter the channel and event name to bind to.</h3>
<input type="text" [(ngModel)]="channelName" placeholder="Channel Name">
<input type="text" [(ngModel)]="eventName" placeholder="Event name">
<button (click)="subscribe(channelName, eventName)">Bind to event</button>
<h3><code>{{ eventName }}</code> events on <code>{{ channelName }}</code>:</h3>
<ul>
  <li *ngFor="let message of messages">
    {{ message }}
  </li>
</ul>


